# Default values for todo-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent

frontend:
  image:
    repository: todo-frontend
    tag: latest
  service:
    type: ClusterIP
    port: 3000

backend:
  image:
    repository: todo-backend
    tag: latest
  service:
    type: ClusterIP
    port: 8000

recurring:
  image:
    repository: todo-recurring
    tag: latest
  service:
    type: ClusterIP
    port: 8001

notification:
  image:
    repository: todo-notification
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8002

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: todo.local
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend: frontend
        - path: /api
          pathType: ImplementationSpecific
          backend: backend

# Application Secrets and Config
config:
  betterAuthUrl: "http://todo.local"
  openaiBaseUrl: "https://api.openai.com/v1"
  openaiModelName: "gpt-4-turbo-preview"

secrets:
  databaseUrl: "" # To be provided via --set secrets.databaseUrl=...
  betterAuthSecret: "" # To be provided via --set secrets.betterAuthSecret=...
  openaiApiKey: "" # To be provided via --set secrets.openaiApiKey=...
